<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<%-include("parts/header.ejs")%>
<script src="./js/public/Check_Role.js"></script>
  <div class="main_content">
    <div class="clearance_title ">
      <div class="title_img_g">
        <img class="title_img" src="/icon/title_icon.png" alt="">
      </div>
      <div class="title_text" id="title1"></div>
    </div>
    <!-- ROW 1 -->
    <div class="row have_border mwidth1160">
      <div class="col-2 d-flex justify-content-end align-items-center" id="title3"></div>
      <div class="col-4 d-flex justify-content-start align-items-center no_border">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="setting" value="door" checked><span id="title4"></span>
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="setting" value="clearance"><span id="title5"></span>
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="setting" value="doorgroup"><span id="title6"></span>
          </label>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center" id="title7"></div>
      <div class="col-4 d-flex justify-content-start align-items-center">
        <!-- <select name="" class="custom-select" id="select">
          <option value="1"></option>
        </select> -->
        <!-- <label class="" id="select"></label> -->
        <input type="text" class="form-control" id="select" disabled>
      </div>
    </div>
    <!-- ROW 2 -->
    <div class="row mwidth1160">
      <div class="col-2 d-flex justify-content-end align-items-center have_border_self" id="title2"></div>
      <div class="col-4 d-flex justify-content-start align-items-center have_border_self">
        <input type="text" size="25" class="form-control" id="input_value" value="">
      </div>
      <div class="col-3 have_border_self"></div>
      <div class="col-3 d-flex justify-content-start align-items-center have_border_self">
        <button class="btn btn-primary d-flex justify-content-center align-items-center no_border" id="bttn_submit2">
          <div id="bttn_submit"></div>
          <h1 id="loading" class="loading"></h1>
        </button>
        <button class="btn btn-warning no_border" onclick="clear_all()" >
          <div id="bttn_clear"></div>
        </button>
      </div>
    </div>
    <!-- 查詢 row -->
    <div class="row bgc-white mwidth1160">
      <div class="col-2 d-flex justify-content-center align-items-center search_down" id="result"><span id="seach_res"></span>
      </div>
      <div class="col"></div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <!-- <button class="btn btn-sm btn-dark btnfs-sm">自訂顯示筆數</button> -->
        
        <button class="btn btn-sm btn-dark btnfs-sm" id="export" onclick=""></button>
        <button class="btn btn-sm btn-dark btnfs-sm" id="printbtn" onclick=""></button>
        <!-- <div class="d-flex justify-content-center align-items-center">
          <div id="title9"></div>          
          <select name="" id="row_select" class="custom-select" style="width: 50px;">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
          </select>
        </div> -->
      </div>
    </div>

    <!-- 搜尋結果表單 -->
    <!-- 表單 title -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover mwidth1160" id="door_table">
        <thead class="text_center bgc-orange fixTable">
          <tr>
            <th scope="col" id="col1"></th>
            <th scope="col" id="col2"></th>
            <th scope="col" id="col3"></th>
            <th scope="col" id="col9"></th>
            <th scope="col" id="col10"></th>
            <th scope="col" id="col4"></th>
            <th scope="col" id="col5"></th>
            <th scope="col" id="col6"></th>
            <th scope="col" id="col7"></th>
            <th scope="col" id="col8"></th>
          </tr>
        </thead>
        <tbody id="door_pass_form">
        </tbody>
      </table>
    </div>
    
    <!-- 表單 footer -->
    <div style="display: none;">
      <table id="tableExport"></table>
    </div>
    <%-include("parts/table_footer.ejs")%>
  </div>
<div id="dialog" class="fz-16" title="系統訊息"></div>
<%-include("parts/footer_js.ejs")%>
<link rel="stylesheet" href="/css/door_pass.css">
<!--檢查是否有cookie-->
<!-- <script src="./js/public/CHECK_Cookie.js"></script> -->
<script src="./js/door_pass.js"></script>

</html>