<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirecting...</title>
</head>
<body>
<%-include("parts/header.ejs")%>
  
<%-include("parts/footer_js.ejs")%>

<script src="./js/first_login.js"></script>
</html>