<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首頁</title>
</head>
<%-include("parts/header.ejs")%>
<script src="./js/public/Check_Role.js"></script>
<div class="main_content">
  <div class="table_content" id="table_content">
  </div>
</div>

<%-include("parts/footer_js.ejs")%>

<link rel="stylesheet" href="/css/home.css">
<!--檢查是否有cookie-->
<!-- <script src="./js/public/CHECK_Cookie.js"></script> -->
<script src="./js/home.js"></script>
</html>