<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirecting...</title>
</head>
<%-include("parts/header.ejs")%>

<%-include("parts/footer_js.ejs")%>
<link rel="stylesheet" href="/css/home.css">

<!-- <script src="./js/CHECK_Cookie.js"></script> -->
<!--檢查是否有cookie-->
<script src="./js/local.js"></script>
</html>