<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<%-include("parts/header.ejs")%>
  <script src="./js/public/Check_Role.js"></script>
  <div class="main_content">
    <div class="clearance_title">
      <div class="title_img_g">
        <img class="title_img" src="/icon/title_icon.png" alt="">
      </div>
      <div class="title_text" id="title1"></div>
    </div>
    <!-- ROW 1 -->
    <div class="row have_border mwidth1160">
      <div class="col-2 d-flex justify-content-end align-items-center tx-red" id="title2"></div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <input type="text" class="form-control" id="userId">
      </div>
      <div class="col-1 d-flex justify-content-start align-items-center clr-red requiredone"></div>
      <div class="col-2 d-flex justify-content-end align-items-center" id="title3"></div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <input type="text" class="form-control" id="userName">
      </div>
      <div class="col-1"></div>
    </div>
    <!-- ROW 2 -->
    <div class="row have_border mwidth1160">
      <div class="col-2 d-flex justify-content-end align-items-center" id="title4"></div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <input type="text" class="form-control" id="vendorCompany">
      </div>
      <div class="col-1 d-flex justify-content-start align-items-center clr-red requiredone"></div>
      <div class="col-2 d-flex justify-content-end align-items-center" id="title5"></div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <input type="text" class="form-control" id="cardId">
      </div>
      <div class="col-1"></div>
    </div>
    <!-- ROW 3 -->
    <div class="row have_border mwidth1160">
      <div class="col-2 d-flex justify-content-end align-items-center" id="title6"></div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <input type="text" class="form-control" id="receptionEmpl">
      </div>
      <div class="col-1 d-flex justify-content-start align-items-center clr-red requiredone"></div>
      <div class="col-2 d-flex justify-content-end align-items-center" id="title7"></div>
      <div class="col-3 d-flex align-items-center">
        <!-- <select name="" id="select" class="custom-select">
          <option value="1"></option>
        </select> -->
        <input type="text" class="form-control" id="select" disabled>
      </div>
      <div class="col-1 d-flex justify-content-start align-items-center clr-red"></div>
    </div>
    <!-- ROW 4 -->
    <div class="row mwidth1160">
      <div class="col-2 d-flex justify-content-end align-items-center have_border_self" id="title8"></div>
      <div class="col-7 d-flex justify-content-around align-items-center have_border_self">
        <div id="title9" class="text-right"></div> <input type="datetime-local" class="form-control col-4" id="startTime">
        <div id="title10" class="text-right"></div><input type="datetime-local" class="form-control col-4" id="endTime">
      </div>
      <div class="col-3 d-flex justify-content-start align-items-center have_border_self">
        <button class="btn btn-primary d-flex justify-content-center align-items-center" id="bttn_submit2">
          <div id="bttn_submit"></div>
          <h1 id="loading" class="loading"></h1>
        </button>
        <button class="btn btn-warning no_border" onclick="clear_all()" >
          <div id="bttn_clear"></div>
        </button>
      </div>
    </div>

    <!-- 查詢結果 row -->
    <div class="row bgc-white mwidth1160">
      <div class="col-2 d-flex justify-content-center align-items-center search_down" id="result"><span id="seach_res"></span>
      </div>
      <div class="col"></div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <!-- <button class="btn btn-sm btn-dark btnfs-sm" id="title12"></button> -->
        <button class="btn btn-sm btn-dark btnfs-sm" id="export" onclick=""></button>
        <button class="btn btn-sm btn-dark btnfs-sm" id="printbtn" onclick=""></button>
        <!-- <button class="btn btn-sm btn-dark btnfs-sm" id="title15"></button> -->
      </div>
    </div>
    <!-- 表單 title -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover mwidth1160" id="person30_table">
        <thead class="text_center bgc-orange fixTable">
          <tr>
            <th scope="col" id="col1"></th>
            <th scope="col" id="col6"></th>
            <th scope="col" id="col7"></th>
            <th scope="col" id="col8"></th>
            <th scope="col" id="col9"></th>
            <th scope="col" id="col10"></th>
            <th scope="col" id="col11"></th>
            <th scope="col" id="col12"></th>
            <th scope="col" id="col13"></th>
            <th scope="col" id="col14"></th>
            <th scope="col" id="col5"></th>
          </tr>
        </thead>
        <tbody id="person30_form">
        </tbody>
      </table>
    </div>
    
    <div style="display: none;">
      <table id="tableExport"></table>
    </div>
    <%-include("parts/table_footer.ejs")%>
  </div>
  <div id="dialog" class="fz-16" title="系統訊息">
  <%-include("parts/footer_js.ejs")%>
  <link rel="stylesheet" href="/css/person30.css">
  <!--檢查是否有cookie-->
  <!-- <script src="./js/public/CHECK_Cookie.js"></script> -->
  <script src="./js/person30.js"></script>

</html>