<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEB ALIVE TEST PAGE</title>
</head>
<link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" href="/css/test.css">
<script src='lib/jquery-3.4.1.js'></script>
<script src="./js/public/PublicFunction.js"></script>
<div class="main_content">
  <div class="d-flex">
    <p id="t1"></p>
    <div id="dt_now"></div>
  </div>
  <div id="maindiv">
  </div>
<%-include("parts/footer_js.ejs") %>
  <script src="./js/public/config.js"></script>
  <script src='./js/i18n/i18n.min.js'></script>
  <script src='./js/test.js'></script>

</html>