  </div>
</body>
<!-- BS4 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/popper.js"></script>
<!-- JQ UI -->
<script src="/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<!-- Public JS -->
<script src="./js/crypto-js/crypto-js.js"></script>
<script src="./js/public/PublicFunction.js"></script>
<script src="./js/public/header.js"></script>
